@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
body {
  display: grid;
  grid-template-rows: minmax(1500px, auto) minmax(0px, auto);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

p,
h1,
h2,
h3,
h4 {
  margin-bottom: 0 !important;
  font-family: "Montserrat", sans-serif;
}

.header {
  width: 100%;
  background-color: #EC6B18;
  position: fixed;
  opacity: 90%;
  z-index: 20;
}
.header .container-fluid {
  width: 90%;
  justify-content: space-between;
  background-color: #EC6B18;
  padding: 0px;
}
.header .container-fluid .navbar-brand img {
  width: 178px;
  max-height: 87.62px;
}
.header nav {
  padding: 0px;
  margin: 0px;
  width: 100%;
}
.header nav .collapse {
  justify-content: center;
}
.header nav .collapse .navbar-nav {
  justify-content: space-between;
}
.header nav .collapse .navbar-nav .nav-item a {
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-left: 95px;
}
.header nav .collapse .navbar-nav .nav-item ul li a {
  margin-left: 0px;
  background-color: #EC6B18;
  color: white;
}
.header nav .collapse .navbar-nav .nav-item ul {
  background-color: #EC6B18;
}
.header .icon_header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .icon_header ul li {
  margin-left: 25px;
  cursor: pointer;
}
.header .icon_header ul li .contact {
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.header .icon_header ul li .contact a {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0px auto;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 18px 8px 18px;
}

main .main_page {
  width: 100%;
  height: 100vh;
  background-image: url(../img/main_page/main-bg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
main .main_page .main_page_text_block {
  background-color: rgba(18, 61, 125, 0.8470588235);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
main .main_page .main_page_text_block .main_page_text_block_center {
  width: 85%;
  margin: 0px auto;
}
main .main_page .main_page_text_block .main_page_text_block_center .text_block_logo {
  color: #FFFFFF;
  font-size: 46.63px;
}
main .main_page .main_page_text_block .main_page_text_block_center .text_block_desc {
  margin-top: 43.38px;
  max-width: 430px;
  font-size: 25.52px;
  color: #FFFFFF;
}
main .main_page .main_page_text_block .main_page_text_block_center .text_block_desc .bold_sao {
  font-weight: 700;
}
main .main_page .main_page_text_block .main_page_text_block_center .text_block_button {
  margin-top: 43px;
  max-height: 73.57px;
  padding: 14.92px 27.94px 19.64px 26.06px;
  font-size: 27.59px;
  background-color: #EC6B18;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  font-weight: 700;
}
main .main_page .main_page_text_block .massege_icon_btn img {
  position: fixed;
  z-index: 10;
  right: 0px;
  top: 85%;
  right: 3%;
  cursor: pointer;
}
main .photos_page {
  position: relative;
  height: 100%;
  background-image: url("../img/main_page/big-bg.png");
  background-size: 100%;
}
main .photos_page .photos_page_dark {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(50, 101, 155, 0.5411764706);
  z-index: 1;
}
main .photos_page .photos_page_dark .photos_page_desc {
  height: 100%;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block {
  border: 2px solid #FFFFFF;
  padding: 69px 500px 68.84px 128px;
  border-radius: 25px;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block h2 {
  color: #FFFFFF;
  font-size: 106px;
  font-weight: 700;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block h3 {
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 57px;
  font-weight: 700;
  max-width: 527px;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block p {
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 300;
  max-width: 500.7px;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block .photos_absolute img {
  position: absolute;
  right: -25%;
  top: 384px;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block .photos_absolute .photos_orange_block {
  position: absolute;
  top: 950px;
  right: 0px;
  background-color: #EC6B18;
  width: 228.28px;
  height: 228.28px;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  align-items: end;
  justify-content: center;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block .photos_absolute .photos_orange_block p {
  text-align: center;
  max-width: 147px;
  font-size: 23.84px;
  font-weight: 300;
  margin-top: -40px;
  margin-bottom: -100px;
}
main .photos_page .photos_page_dark .photos_page_desc .photos_page_text_block .photos_absolute .photos_orange_block p span {
  display: block;
  font-weight: 700;
  font-size: 123.84px;
  margin-top: -100px;
}
main .slider_centr {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .slider_centr .carousel {
  max-width: 392px;
  max-height: 545px;
}
main .slider_centr .carousel .carousel-control-prev-icon {
  -webkit-backdrop-filter: invert(100%);
          backdrop-filter: invert(100%);
}
main .slider_centr .carousel-inner .carousel-item img {
  max-width: 392px;
  height: 545px;
}
main .slider_centr .carousel-inner .carousel-item .carousel-caption {
  color: #FFFFFF;
}
main .slider_centr .carousel-inner .carousel-item .carousel-caption p {
  color: #FFFFFF;
}
main .slider_centr .carousel-inner .carousel-item .carousel-caption button {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #EC6B18;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
}

@media (max-width: 991px) {
  header .icon_header {
    display: none;
  }
  main .main_page {
    background-image: none;
  }
  main .main_page .main_page_text_block {
    background-color: rgba(255, 255, 255, 0);
  }
  main .photos_absolute {
    display: none;
  }
  main .photos_page_desc {
    background-color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  main .main_page_text_block {
    background-color: rgba(255, 255, 255, 0);
  }
}
footer {
  max-height: 185px;
}

.blue_padido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blue_padido .blue_padido_container {
  width: 85%;
}
.blue_padido .blue_padido_container .contact_info p {
  font-size: 106px;
  font-weight: 700;
  color: #FFFFFF;
}
.blue_padido .blue_padido_container .contact_info_desc p {
  color: #FFFFFF;
  font-size: 32.29px;
}
.blue_padido .blue_padido_container .contact_info_desc p span {
  font-weight: 300;
}
.blue_padido .form_conteiner {
  background-color: rgba(255, 255, 255, 0.6980392157);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  width: 50%;
}
.blue_padido .form_conteiner .form_pain {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.blue_padido .form_conteiner .form_pain input {
  padding: 20px 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #EC6B18;
  border-radius: 25px;
  margin-top: 10px;
}
.blue_padido .form_conteiner .form_pain input:focus {
  border: 1px solid #EC6B18;
}
.blue_padido .form_conteiner .form_pain input:active {
  border: 1px solid #EC6B18;
}
.blue_padido .form_conteiner .form_pain textarea {
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #EC6B18;
  padding: 20px;
  padding-bottom: 100px;
}
.blue_padido .form_conteiner .form_pain button {
  background-color: #EC6B18;
  color: #FFFFFF;
  border: none;
  border-radius: 25px;
  font-size: 12.61px;
  font-weight: 700;
  line-height: 12.6px;
  max-width: 300px;
  align-self: center;
  padding: 20px 100px;
  margin-bottom: 10px;
}
.blue_padido .form_conteiner .form_pain .form_name {
  font-size: 54.42px;
  font-weight: 700;
  color: #32649B;
}
.blue_padido .form_conteiner .form_pain .form_desc {
  font-size: 18.91px;
  line-height: 20.4px;
  color: #1D1D1B;
}

body {
  background-image: url("../img/nossos/nossos_bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.main_nosso {
  background-image: url("../img/nossos/nossos_bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.main_nosso .nosso_conteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  margin-top: 108px;
}
.main_nosso .nosso_conteiner_pocotes {
  width: 90%;
}
.main_nosso .nosso_conteiner_pocotes .upper_line {
  margin-top: 100px;
}
.main_nosso .nosso_conteiner_pocotes h3 {
  font-size: 100px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
}
.main_nosso .nosso_conteiner_pocotes img {
  margin-top: 0px;
  margin-right: 0px;
  width: 100%;
}
.main_nosso .nosso_conteiner_pocotes_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.main_nosso .nosso_conteiner_pocotes_grid_card {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.137254902);
  border-radius: 25px;
  max-width: 500px;
  min-height: 480px;
}
.main_nosso .nosso_conteiner_pocotes_grid_card_desc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.main_nosso .nosso_conteiner_pocotes_grid_card_desc p {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}
.main_nosso .nosso_conteiner_pocotes_grid_card_desc .style_line {
  position: absolute;
  left: 0px;
  top: 45px;
  max-width: 9px;
}
.main_nosso .nosso_conteiner_pocotes_grid_card_desc .card_desc_name {
  margin-top: 62.88px;
  font-size: 13.96px;
  line-height: 18.9px;
  font-weight: 700;
}
.main_nosso .nosso_conteiner_pocotes_grid_card_desc .card_desc_desc {
  margin-top: 56.89px;
  font-size: 14.37px;
  max-width: 164.23px;
}
.main_nosso .nosso_conteiner_pocotes_grid_card_desc button {
  margin-top: 56.89px;
  margin-right: 70px;
  background-color: #EC6B18;
  border: none;
  border-radius: 25px;
  padding: 2.05px 26.29px 4.11px 26.29px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 10.26px;
}
.main_nosso .blue_background {
  position: absolute;
  height: 160vw;
  width: 100vw;
  background-color: rgba(50, 101, 155, 0.8549019608);
  z-index: -1;
  top: 0px;
}
.main_nosso .blue_line {
  position: absolute;
  top: 0px;
  height: 150vw;
  background-color: rgba(50, 101, 155, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}
.main_nosso .nosso_desc_container {
  margin-top: 198.2px;
  height: 500px;
}
.main_nosso .nosso_desc_container .nosso_desc_container_blue_bg .nosso_desc_container_blue_bg_line {
  margin-bottom: 200px;
  text-align: center;
  color: #FFFFFF;
}
.main_nosso .nosso_desc_container .nosso_desc_container_blue_bg .nosso_desc_container_blue_bg_line_name {
  font-size: 61.95px;
  font-weight: 500;
}
.main_nosso .nosso_desc_container .nosso_desc_container_blue_bg .nosso_desc_container_blue_bg_line_desc {
  font-size: 71.74px;
  font-weight: 700;
}
.main_nosso .nosso_desc_container .nosso_desc_container_blue_bg .nosso_desc_container_blue_bg_line_desc_desc {
  font-size: 37.17px;
  font-weight: 300;
}
.main_nosso .nosso_desc_container .nosso_desc_container_blue_bg .nosso_desc_container_blue_bg_line button {
  margin-top: 20px;
  border: none;
  border-radius: 25px;
  background-color: #EC6B18;
  color: #FFFFFF;
  font-size: 27.59px;
  font-weight: 700;
  padding: 20px 136px;
}

body {
  background-image: url("../img/nossos/nossos_bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
body .blue_padido {
  background-color: rgba(50, 101, 155, 0.5960784314);
  width: 100%;
}
body .blue_padido .main_padido {
  display: flex;
  background-image: url("../img/padido/padido_bg.png");
  background-size: cover;
  height: 100vh;
  width: 100%;
}
body .blue_padido .main_padido .padido_blue_line {
  background-color: rgba(18, 61, 125, 0.8);
  display: flex;
  justify-content: center;
}
body .blue_padido .main_padido .padido_blue_line .blue_line_container {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #FFFFFF;
}
body .blue_padido .main_padido .padido_blue_line .blue_line_container h3 {
  font-size: 91.37px;
  font-weight: 700;
  line-height: 91.4px;
  max-width: 553.39px;
}
body .blue_padido .main_padido .padido_blue_line .blue_line_container p {
  margin-top: 51.72px;
  font-size: 43.1px;
  font-weight: 300;
  line-height: 43.1px;
}
body .blue_padido .main_padido .padido_blue_line .blue_line_container button {
  margin-top: 52.18px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 404.27px;
  max-height: 63.41px;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  background-color: #EC6B18;
  padding-top: 16.78px;
  padding-bottom: 17.63px;
  font-size: 23.78px;
  font-weight: 700;
}
body .blue_padido .second_padido {
  height: auto;
  position: relative;
}
body .blue_padido .second_padido .second_blure_line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.2392156863);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
}
body .blue_padido .second_padido .second_blure_line .padido_card_city {
  position: absolute;
  right: -350px;
  top: 195px;
}
body .blue_padido .second_padido .second_blure_line .blure_line_container {
  margin-top: 304px;
  width: 85%;
  color: #FFFFFF;
}
body .blue_padido .second_padido .second_blure_line .blure_line_container .blure_line_container_name {
  max-width: 638px;
  font-size: 106px;
  font-weight: 700;
  line-height: 106px;
}
body .blue_padido .second_padido .second_blure_line .blure_line_container .blure_line_container_name_second {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 500;
}
body .blue_padido .second_padido .second_blure_line .blure_line_container .blure_line_container_second {
  margin-top: 30px;
  max-width: 638px;
  font-size: 30px;
  font-weight: 300;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas {
  height: 100%;
  margin-top: 272px;
  padding-bottom: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_grid {
  width: 85%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2.2fr 1fr 1.5fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ideas_name jantar" "ideas_local jantar" "ideas_local paradisia" "alto_mar paradisia";
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .jantar {
  grid-area: jantar;
  position: absolute;
  right: -400px;
  top: 1200px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .jantar .love_cards {
  margin-top: 62px;
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .jantar .love_cards_text {
  color: #FFFFFF;
  padding: 275px 29px 274px 76px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .jantar .love_cards_text_name {
  font-size: 42.27px;
  font-weight: 700;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .jantar .love_cards_text_desc {
  font-size: 32.54px;
  font-weight: 300;
  max-width: 401px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .jantar .love_cards img {
  padding-left: 30px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .paradisia {
  grid-area: paradisia;
  position: absolute;
  right: -400px;
  bottom: 200px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .paradisia .love_cards {
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 25px 0px 0px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .paradisia .love_cards_text {
  color: #FFFFFF;
  padding: 216px 44px 215.91px 76px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .paradisia .love_cards_text_name {
  font-size: 42.27px;
  font-weight: 700;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .paradisia .love_cards_text_desc {
  font-size: 32.54px;
  font-weight: 300;
  max-width: 401px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .paradisia .love_cards img {
  padding-left: 44px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_name {
  grid-area: ideas_name;
  color: #FFFFFF;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_name .ideas_text_name {
  font-size: 106px;
  font-weight: 700;
  line-height: 106px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_name .ideas_text_desc {
  font-size: 30px;
  font-weight: 300;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_name button {
  margin-top: 70px;
  border: none;
  border-radius: 25px;
  background-color: #EC6B18;
  color: #FFFFFF;
  font-size: 27.59px;
  font-weight: 700;
  padding: 20px 127px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_local {
  grid-area: ideas_local;
  max-width: 700px;
  margin-top: 74.74px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_local .love_cards {
  width: 100%;
  height: 80%;
  border: 1px solid #FFFFFF;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_local .love_cards_text {
  color: #FFFFFF;
  padding: 50px 44px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_local .love_cards_text_name {
  font-size: 42.27px;
  font-weight: 700;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_local .love_cards_text_desc {
  font-size: 32.54px;
  font-weight: 300;
  max-width: 401px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .ideas_local .love_cards img {
  padding-left: 44px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .alto_mar {
  grid-area: alto_mar;
  max-width: 700px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .alto_mar .love_cards {
  width: 100%;
  height: 100%;
  border: 1px solid #FFFFFF;
  border-radius: 50px 0px 0px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .alto_mar .love_cards_text {
  color: #FFFFFF;
  padding: 116px 44px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .alto_mar .love_cards_text_name {
  font-size: 42.27px;
  font-weight: 700;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .alto_mar .love_cards_text_desc {
  font-size: 32.54px;
  font-weight: 300;
  max-width: 401px;
}
body .blue_padido .second_padido .second_blure_line .padido_ideas .alto_mar .love_cards img {
  padding-left: 44px;
}
body .blue_padido .third_padido {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 320px;
}
body .blue_padido .third_padido_container {
  width: 85%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
body .blue_padido .third_padido_container .text_player {
  max-width: 1142px;
  color: #FFFFFF;
}
body .blue_padido .third_padido_container .text_player_name {
  font-size: 106px;
  font-weight: 700;
  line-height: 106px;
}
body .blue_padido .third_padido_container .text_player_desc {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
}
body .blue_padido .third_padido_container .text_player button {
  margin-top: 60px;
  border: none;
  border-radius: 50px;
  background-color: #EC6B18;
  color: #FFFFFF;
  font-size: 27.59px;
  font-weight: 700;
  padding: 20px 80px;
}
body .blue_padido .third_padido .player {
  position: relative;
  margin-top: 119.42px;
  background-image: url("../img/padido/player.png");
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 25px 0px 0px 25px;
}
body .blue_padido .third_padido .player_button {
  width: 174px;
  height: 174px;
  position: absolute;
  top: 25%;
  left: 45%;
}
body footer {
  height: 100%;
  width: 100%;
}
body footer .blue_padido {
  height: 100%;
  display: flex;
  justify-content: center;
}
body footer .blue_padido_footer {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: column;
}
body footer .blue_padido_footer .line_img {
  max-width: 1485px;
  max-height: 3px;
}
body footer .blue_padido_footer .blue_padido_footer_conteiner {
  margin-top: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body footer .blue_padido_footer .blue_padido_footer_conteiner .footer_logo {
  max-width: 160px;
}
body footer .blue_padido_footer .blue_padido_footer_conteiner p {
  color: #FFFFFF;
}
body footer .blue_padido_footer .blue_padido_footer_conteiner .icon_footer_list {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */