* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

p,
h1,
h2,
h3,
h4 {
    margin-bottom: 0 !important;
    font-family: $main-font-family;
}