main {
    .main_page {
        width: 100%;
        height: 100%;
        min-height: 1000px;
        background-image: url(../img/main_page/main-bg.png);
        background-repeat: no-repeat;
        background-size: 100%;

        .main_page_text_block {
            background-color: #123d7dd8;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;

            .main_page_text_block_center {
                width: 85%;
                margin: 0px auto;

                .text_block_logo {
                    color: $main-font-color;
                    font-size: 46.63px;
                }

                .text_block_desc {
                    margin-top: 43.38px;
                    max-width: 430px;
                    font-size: 25.52px;
                    color: $main-font-color;

                    .bold_sao {
                        font-weight: 700;
                    }
                }

                .text_block_button {
                    margin-top: 43px;
                    max-height: 73.57px;
                    padding: 14.92px 27.94px 19.64px 26.06px;
                    font-size: 27.59px;
                    background-color: $main-focus-color;
                    border: none;
                    border-radius: 50px;
                    color: $main-font-color;
                    font-weight: 700;
                }
            }

            .massege_icon_btn {
                & img {
                    position: fixed;
                    z-index: 10;
                    right: 0px;
                    top: 85%;
                    right: 3%;
                    cursor: pointer;
                }
            }

        }
    }

    // Photos_page


    .photos_page {
        position: relative;
        height: 100%;
        background-image: url('../img/main_page/big-bg.png');
        background-size: 100%;

        .photos_page_dark {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: #32659b8a;
            z-index: 1;


            .photos_page_desc {
                height: 100%;
                backdrop-filter: blur(80px);

                display: flex;
                justify-content: center;
                align-items: center;

                .photos_page_text_block {
                    border: 2px solid $main-font-color;
                    padding: 69px 500px 68.84px 128px;
                    border-radius: 25px;

                    & h2 {
                        color: $main-font-color;
                        font-size: 106px;
                        font-weight: 700;
                    }

                    & h3 {
                        margin-top: 20px;
                        color: $main-font-color;
                        font-size: 57px;
                        font-weight: 700;
                        max-width: 527px;
                    }

                    & p {
                        margin-top: 40px;
                        color: $main-font-color;
                        font-size: 22px;
                        font-weight: 300;
                        max-width: 500.7px;
                    }

                    .photos_absolute {
                        & img {
                            position: absolute;
                            right: -28%;
                            top: 150px;
                        }

                        .photos_orange_block {
                            position: absolute;
                            right: 0px;
                            background-color: $main-focus-color;
                            width: 228.28px;
                            height: 228.28px;
                            border-radius: 25px 0px 0px 25px;
                            display: flex;
                            align-items: end;
                            justify-content: center;

                            & p {
                                text-align: center;
                                max-width: 147px;
                                font-size: 23.84px;
                                font-weight: 300;
                                margin-top: -40px;
                                margin-bottom: -100px;

                                & span {
                                    display: block;
                                    font-weight: 700;
                                    font-size: 123.84px;
                                    margin-top: -100px;
                                }

                            }
                        }

                    }
                }
            }
        }
    }
}