.main_nosso {
    background-image: url('../img/nossos/nossos_bg.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    .nosso_conteiner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        margin-top: 108px;

        &_pocotes {
            width: 90%;


            .upper_line {
                margin-top: 100px;
            }


            & h3 {

                font-size: 100px;
                color: $main-font-color;
                font-family: $main-font-family;
            }

            & img {
                margin-top: 0px;
                margin-right: 0px;
                width: 100%;

            }

            &_grid {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                &_card {
                    margin-top: 100px;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    background-color: #ffffff23;
                    border-radius: 25px;
                    max-width: 500px;
                    min-height: 480px;

                    &_desc {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & p {
                            font-family: $main-font-family;
                            color: $main-font-color;
                        }

                        .style_line {
                            position: absolute;
                            left: 0px;
                            top: 45px;
                            max-width: 9px;
                        }

                        .card_desc_name {
                            margin-top: 62.88px;
                            font-size: 13.96px;
                            line-height: 18.9px;
                            font-weight: 700;
                        }

                        .card_desc_desc {
                            margin-top: 56.89px;
                            font-size: 14.37px;
                            max-width: 164.23px;
                        }

                        & button {
                            margin-top: 56.89px;
                            margin-right: 70px;
                            background-color: $main-focus-color;
                            border: none;
                            border-radius: 25px;
                            padding: 2.05px 26.29px 4.11px 26.29px;
                            color: $main-font-color;
                            font-weight: 700;
                            font-size: 10.26px;
                        }
                    }

                }
            }
        }


    }

    .blue_background {
        position: absolute;
        height: 150vw;
        width: 100vw;
        background-color: #32659bda;
        z-index: -1;
        top: 0px;
    }

    .blue_line {
        position: absolute;
        top: 0px;
        height: 150vw;
        background-color: #32659b33;
        backdrop-filter: blur(10px);
        z-index: -1;
    }


    .nosso_desc_container {
        margin-top: 198.2px;
        height: 500px;
        padding-bottom: 400px;

        .nosso_desc_container_blue_bg {


            .nosso_desc_container_blue_bg_line {
                text-align: center;
                color: $main-font-color;

                &_name {
                    font-size: 61.95px;
                    font-weight: 500;
                }

                &_desc {
                    font-size: 71.74px;
                    font-weight: 700;
                }

                &_desc_desc {
                    font-size: 37.17px;
                    font-weight: 300;
                }

                & button {
                    margin-top: 20px;
                    border: none;
                    border-radius: 25px;
                    background-color: $main-focus-color;
                    color: $main-font-color;
                    font-size: 27.59px;
                    font-weight: 700;
                    padding: 20px 136px;
                }
            }
        }
    }


}