body {
    background-image: url('../img/nossos/nossos_bg.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    .blue_padido {
        background-color: #32659b98;
        width: 100%;

        .main_padido {
            display: flex;
            background-image: url("../../img/padido/padido_bg.png");
            background-size: cover;
            height: 100vh;

            .padido_blue_line {
                background-color: #123d7dcc;
                display: flex;
                justify-content: center;

                .blue_line_container {
                    width: 85%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: $main-font-color;

                    & h3 {
                        font-size: 91.37px;
                        font-weight: 700;
                        line-height: 91.4px;
                        max-width: 553.39px;
                    }

                    & p {
                        margin-top: 51.72px;
                        font-size: 43.1px;
                        font-weight: 300;
                        line-height: 43.1px;
                    }

                    & button {
                        margin-top: 52.18px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        max-width: 404.27px;
                        max-height: 63.41px;
                        color: $main-font-color;
                        border: none;
                        border-radius: 25px;
                        background-color: $main-focus-color;
                        padding-top: 16.78px;
                        padding-bottom: 17.63px;
                        font-size: 23.78px;
                        font-weight: 700;
                    }
                }
            }
        }


        .second_padido {
            height: auto;
            position: relative;

            .second_blure_line {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: auto;
                width: 75%;
                background-color: #ffffff3d;
                backdrop-filter: blur(50px);

                .padido_card_city {
                    position: absolute;
                    right: -350px;
                    top: 195px;
                }

                .blure_line_container {
                    margin-top: 304px;
                    width: 85%;
                    color: $main-font-color;

                    .blure_line_container_name {
                        max-width: 638px;
                        font-size: 106px;
                        font-weight: 700;
                        line-height: 106px;
                    }

                    .blure_line_container_name_second {
                        margin-top: 30px;
                        font-size: 40px;
                        font-weight: 500;
                    }

                    .blure_line_container_second {
                        margin-top: 30px;
                        max-width: 638px;
                        font-size: 30px;
                        font-weight: 300;
                    }

                }

                .padido_ideas {
                    height: 100%;
                    margin-top: 272px;
                    padding-bottom: 126px;

                    .ideas_grid {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-template-rows: 2.2fr 1fr 1.5fr 2fr;
                        gap: 0px 0px;
                        grid-auto-flow: row;
                        grid-template-areas:
                            "ideas_name jantar"
                            "ideas_local jantar"
                            "ideas_local paradisia"
                            "alto_mar paradisia";
                    }

                    .jantar {
                        grid-area: jantar;

                        .love_cards {
                            margin-top: 62px;
                            width: 100%;
                            height: 100%;
                            border: 1px solid $main-font-color;
                            border-radius: 25px 0px 0px 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &_text {
                                color: $main-font-color;
                                padding: 275px 29px 274px 76px;

                                &_name {

                                    font-size: 42.27px;
                                    font-weight: 700;
                                }

                                &_desc {
                                    font-size: 32.54px;
                                    font-weight: 300;
                                    max-width: 401px;
                                }
                            }

                            & img {
                                padding-left: 30px;
                            }
                        }
                    }

                    .paradisia {
                        grid-area: paradisia;

                        .love_cards {
                            width: 100%;
                            height: 100%;
                            border: 1px solid $main-font-color;
                            border-radius: 25px 0px 0px 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &_text {
                                color: $main-font-color;
                                padding: 216px 44px 215.91px 76px;

                                &_name {

                                    font-size: 42.27px;
                                    font-weight: 700;
                                }

                                &_desc {
                                    font-size: 32.54px;
                                    font-weight: 300;
                                    max-width: 401px;
                                }
                            }

                            & img {
                                padding-left: 44px;
                            }
                        }
                    }

                    .ideas_name {
                        grid-area: ideas_name;
                    }

                    .ideas_local {
                        grid-area: ideas_local;

                        .love_cards {
                            width: 100%;
                            height: 100%;
                            border: 1px solid $main-font-color;
                            border-radius: 25px 0px 0px 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &_text {
                                color: $main-font-color;
                                padding: 216px 44px 215.91px 76px;

                                &_name {

                                    font-size: 42.27px;
                                    font-weight: 700;
                                }

                                &_desc {
                                    font-size: 32.54px;
                                    font-weight: 300;
                                    max-width: 401px;
                                }
                            }

                            & img {
                                padding-left: 44px;
                            }
                        }
                    }

                    .alto_mar {
                        grid-area: alto_mar;

                        .love_cards {
                            width: 100%;
                            height: 100%;
                            border: 1px solid $main-font-color;
                            border-radius: 25px 0px 0px 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &_text {
                                color: $main-font-color;
                                padding: 216px 44px 215.91px 76px;

                                &_name {

                                    font-size: 42.27px;
                                    font-weight: 700;
                                }

                                &_desc {
                                    font-size: 32.54px;
                                    font-weight: 300;
                                    max-width: 401px;
                                }
                            }

                            & img {
                                padding-left: 44px;
                            }
                        }
                    }

                }
            }
        }
    }

    footer {
        height: 100%;
        width: 100%;

        .blue_padido {
            height: 100%;
        }
    }
}